.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 16px 40px;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(8px);
    z-index: 10;
}

.navbarLogo {
    color: #B3B3B3;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 900;
}

.navbarLogo img{
    height: 60px;
}

.navbarLink {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.navbarLink a {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.navbarLink a:hover{
    color: #FFC800;
}

.navHam{
    font-size: 1.6rem;
    cursor: pointer;
}

.navSidebar{
    position: fixed;
    top: 64px;
    right: 0;
    width: 300px;
    height: calc(100vh - 64px);
    background: rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 2rem;
    gap: .4rem;
}

.navSidebar a{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: .6rem;
}

.navSidebar a:hover{
    color: #FFC800;
}

.HireMe a{
    text-decoration: none;
    color: inherit;
}

.navHam{
    display: none;
}

@media (max-width: 600px) {
    .navbarLogo img{
        height: 32px;
    }

    .navbarLink{
        display: none;
    }

    .navHam{
        display: initial;
    }

    .HireMe{
        display: none;
    }

    a.mobileHire{
        color: inherit;
        text-decoration: none;
    }
}