.homeHeaders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.homeHeadersHeading {
    color: #E8E8E8;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 900;
}

.homeHeadersSubHeading {
    color: rgba(255, 191, 0, 0.74);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 600px) {
    .homeHeaders {
        gap: 8px;
    }

    .homeHeadersHeading {
        font-size: 28px;
        font-weight: 800;
    }

    .homeHeadersSubHeading {
        font-size: 14px;
        font-weight: 600;
    }
}